
*.ppm
*.exe
*.obj
*.pdb
*.ppm
Makefile.*
debug\
*.stash
*.8-pre1
*.10-pre1
*.5800
*.5898
*.7z
*.o
*.old
*.user
*.Release
*.stash
*.files
/*.out

output0.txt
output0.txt
output1.txt
output2.txt
output3.txt
output4.txt
output5.txt
output6.txt
output7.txt
scenes/lena.json.bak
scenes/scene.json.bak
testR.bmp
testR.bmp
*.txt
output12.txt
scenes/scenePerso.json.bak
scenes/scenePerso.json.bak
/build
*.bmp
scenes/scenePerso.json.bak
test.bmp
test.bmp
